<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Menu list</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap\css\bootstrap.css' %}" />
<script src="{% static 'jquery\jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap\js\bootstrap.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
<style>
</style>
</head>
<body>
<div class="container-fluid">
<div>
<nav class="navbar navbar-default">
<div class="navbar-header">
<a class="navbar-brand" href="#">AcRestaurant</a>
</div>
<ul class="nav navbar-nav">
<li><a href="/menu/">Our Menu</a></li>
<li><a href="/item/" onclick="location.reload()">Our Items</a></li>
<li><a onclick="location.reload()">Github</a></li>
<li><a href="#">About</a></li>
</ul>
</nav>
</div>
<div>
<div class="wrapper">
<div class="col-md-3 col-md-offset-4">
<div class="panel panel-default">
<div class="panel-body">
<h1> Update menu </h1>
<form class="form" action="{% url 'post_menu_create' %}" method="post">
{% csrf_token %}
<div class="form-group">
<label for="name">Name:</label>
<input class="form-control" type="text" name="name" id="name"/>
</div>
<div class="form-group">
<label for="time">Time:</label>
<input class="form-control" id="time" type="time" name="time" />
</div>
<div class="form-group">
<label for="items">Items:</label>
<select class="form-control" id="items" multiple name="menu" style="margin-bottom: 25px;">
{% for i in items %}
<option value="{{ i.id }}">
{{ i.name }}
</option>
{% endfor %}
</select>
</div>
<br>
<input class="btn btn-success" style="width:100%" type="submit" value="Save">
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>